<!DOCTYPE html>
<!-- <html ng-app="contactsApp"> -->
<html ng-app="contactsApp">
<head>
	<meta charset="UTF-8">
	<title>Contacts</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
	<h1>Contacts</h1>
	<button>New Contact</button>
	<button>View Contacts</button>
 	<div>
		<form>
			<input type="text" placeholder="First Name" ng-model="firstName">
			<input type="text" placeholder="Last Name" ng-model="lastName">
			<input type="number" placeholder="Phone" ng-model="phoneNumber">
			<button type="submit">Enter</button>
		</form>
	</div> 
	<div ng-controller="mainController">
		<ul>
			<li ng-repeat="contact in contacts">{{contact}}</li>
		</ul>
	</div>

	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>


