<!DOCTYPE html>
<!-- <html ng-app="contactsApp"> -->
<html ng-app="contactsApp">
<head>
	<meta charset="UTF-8">
	<title>Contacts</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-controller="mainController">

	<div class="container" ng-submit="addContact()">
		<h1>Contacts</h1>

		<br>
		<button>New Contact</button>
		<button>View Contacts</button>
		<br>
		<br>

 		<div>
			<form>
				<!-- ng-model is used to bind input values to an AngularJS variable -->
				<input type="text" placeholder="First Name" ng-model="contact.firstname" required>
				<input type="text" placeholder="Middle Name" ng-model="contact.middlename">
				<input type="text" placeholder="Last Name" ng-model="contact.lastname" required>
				<input type="text" placeholder="Phone" ng-model="contact.phoneNumber">
				<input type="text" placeholder="Email" ng-model="contact.email">
				<button type="submit">Add contact</button>
			</form>
		</div>
		<div>

			<table class="table">
				<thead>	
					<tr>
						<th>Name</th>
						<th>Phone</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<!-- $scope in the controller allows us to access contact variable and its properties -->
					<tr ng-repeat="contact in contacts | orderBy: 'firstname'">
						<td>{{contact.firstname}} {{contact.middlename}} {{contact.lastname}}</td>
						<td>{{contact.phone}}</td>
						<td>{{contact.email}}</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>


